h1 {
	text-align: center;
	color: blue;
}
body {
	direction: rtl;
}
h2 {
	color: red;
}
label {
	color: blue;
}

.validation input:invalid {
	border-color: red;
}
.validation input:valid {
	border-color: green;
}

.button   a {
	text-decoration: none;
	color: black;
}
